<div id="<%= dom_id author %>">
  <p>
    <strong>First name:</strong>
    <%= author.fname %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= author.lname %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= author.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= author.death_year %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= author.biography %>
  </p>

</div>
